# EmailJS Configuration
# Get these values from https://dashboard.emailjs.com/admin/account
REACT_APP_EMAILJS_PUBLIC_KEY=n7Be-FykzUeUeqWCo
REACT_APP_EMAILJS_SERVICE_ID=service_kv6jdlp
REACT_APP_EMAILJS_TEMPLATE_ID=template_u6w1vdk